<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="left">
    <a th:href="@{/CreateProduct}">Create Product and Questionnary</a>
</div>
<div align="left">
    <a th:href="@{/DeleteQuestionnaire}">Delete Questionnary</a>
</div>
<div align="left">
    <a th:href="@{/InspectionSelectPage}">Inspection Page</a>
</div>
<div align="left">
    <a th:href="@{/AdminLogout}">Logout</a>
    <p th:text=" ${param.errorMsg}"></p>
</div>

</body>
</html>