<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/CreateMarketingQuestion}" method="POST">
  <p th:text="'Please input question No.'+${marketingQuestionNumber}"></p>
  <fieldset>
    <p th:text=" ${infoMsg}"></p>
    <p>
      Question content: <input type="text"  name="question"  required>
    </p>
    <input type="submit" name="Product">
    <p th:text=" ${errorMsg}"></p>
  </fieldset>
  <td th:if="${marketingQuestionNumber} > 1">
    <div align="left">
      <a th:href = "@{/AdminHome}" >Return to admin homepage</a> <br>
    </div></td>
</form>
</body>
</html>



