<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
</head>
<body>

<h1>Rank List</h1>

<p th:text=" ${errorMsg}"></p>

<table>
    <tbody>
    <tr>
        <th>Username</th>
        <th>Points</th>
    </tr>
    <span th:each="user : ${userList}">
        <tr>
            <td th:text="${user.getUsername}"></td>
            <td th:text="${user.getPoints}"></td>
        </tr>
    </span>
    </tbody>
<!--    <a th:href="@{/AdminHome}">Finish and return to Home page</a>-->
</table>
<p></p>
<a th:href="@{/UserHome}">Back to home page</a>



</body>
</html>