<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
    <meta charset="ISO-8859-1">
    <title>Login page</title>
</head>

<body>
<h1>Welcome to the Gamified application</h1>
<td th:text="${product.getName()}"></td><br>
<td th:text="${product.getProductTime()}"></td><br>
<img width="150px" alt="photo" th:src="*{'data:image/png;base64,'+product.getImage()}"> <br>
<p th:text=" ${errorMsg}"></p>

<table>
    <tbody>
	<span th:each="q : ${product.getMarketingQuestion()}">
		<br><td th:text="${q.getQuestionContent()}"></td> <br>
		<table>
			<thead>
			<tr>
				<th>User</th>
				<th>Answer</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="a : ${q.getMarketingAnswers()}">
				<td th:text="${a.getQuestionnaire().getUser().getUsername()}"></td>
				<td th:text="${a.getAnswer()}"></td>
			</tr>
			</tbody>
		</table>
	</span>
</span>
    </tbody>
</table>



</body>
</html>
<!--<table>-->
<!--    <tbody>-->
<!--    <span th:each="question : ${product.getMarketingQuestion()}">-->
<!--        <tr>-->
<!--            <td th:text="${question.getQuestionContent()}"></td>-->
<!--        </tr>-->
<!--        <span th:each="userAnswer : ${question.getMarketingAnswers()}">-->
<!--            <tr>-->
<!--                <td th:text="${userAnswer.getQuestionnaire().getUser().getUsername()}"></td>-->
<!--                <td th:text="${userAnswer.getAnswer()}"></td>-->
<!--            </tr>-->
<!--        </span>-->
<!--    </span>-->
<!--    </tbody>-->
<!--</table>-->

<!--        <tr th:each="userAnswer : ${h.userAnswer}">-->
<!--            <td th:text="${userAnswer.key}"></td>-->
<!--            <td th:text="${userAnswer.value}"></td>-->
<!--        </tr>-->

<!--<span th:each="uat : ${h.answerTypeTwo}">-->
<!--            <tr>-->
<!--                <td th:text="${uat}"></td>-->
<!--            </tr>-->
<!--        </span>-->
<!--<table>-->
<!--    <tbody>-->
<!--    <span th:each="h : ${homePageShowContents}">-->
<!--        <tr>-->
<!--            <td th:text="${h.questionContent}"></td>-->
<!--        </tr>-->
<!--        <span th:each="userAnswer : ${h.userAnswer}">-->
<!--            <tr>-->
<!--                <td th:text="${userAnswer.key}"></td>-->
<!--                <td th:text="${userAnswer.value}"></td>-->
<!--            </tr>-->
<!--        </span>-->
<!--    </span>-->
<!--    </tbody>-->
<!--</table>-->