<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
    <meta charset="ISO-8859-1">
    <title>Login page</title>
</head>

<body>
<h1>Welcome to the Gamified application</h1>
<p th:text=" ${errorMsg}?${errorMsg}"></p>

<p th:text="${productOfDay.getName()}"></p>
<table th:if="${productOfDay}">
    <tbody>
    <span th:each="mktq : ${productOfDay.getMarketingQuestionsList()}">
        <tr>
            <td th:text="${mktq.getQuestionContent()}"></td>
        </tr>
        <span th:each="userAnswer : ${mktq.getQuestionnaireMap()}">
            <tr>
                <td th:text="${userAnswer.key.getUser().getUsername()}"></td>
                <td th:text="${userAnswer.value}"></td>
            </tr>
        </span>
    </span>
    </tbody>
</table>

<div align="left">
    <a th:href="@{/MktQuestionPage}">Fill in a Questionnaire</a>
    <p th:text="${session.errorMsgHome}?${session.errorMsgHome}"></p>
    <a th:href="@{/ScoreBoard}">Leader Board</a>
</div>



</body>
</html>